*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.main{
    background: #f8f8f8;
    width: 100%;
    
}
.sidebar{
    background: #fff;
    position: fixed;
    left: 0;    
    top: 0;
    align-items: center;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    }

.logo-area img{
    width: 36px;
    margin-top: 15px;
    vertical-align: middle;
}
.main-logo ul li {
    margin: 0px 10px;
    padding: 10px 10px;
    list-style: none;
}
.main-logo ul li a svg{
    width: 20px;
    height: 20px;
    margin: 0px 15.4px 0px 10px;
    color: #696d71; 
}
.sub{
    padding: 0px 30px;
    margin-left: 80px;
    position: relative;

}
.navbar{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 11.2px 14px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    position: sticky;
    top: 0px;
    right: 0;
    margin-top: 20px;
}
.navbar .common ul li{
    padding: 0px 7px;
}
.navbar .common ul li .own{
    width: 40px;
    height: 40px;
}
.navbar .common ul li svg{
    width: 21px;
    height: 21px;
    color: #6e6b7b;
}
.navbar .common ul li img{
    width: 21px;
    height: 21px;
    color: #6e6b7b;
    vertical-align: middle;
}
.navbar .common ul li span{
    margin-left: 5.6px;
}
.left-navbar {
    vertical-align: middle;
}

.left-navbar ul li svg.dif-color {
    color: #ea5455;
}

.common ul {
    display: flex;
    list-style: none;
}

.right-navbar ul{
    align-items: center;
}
.right-navbar ul li{
    position: relative;
}
.right-navbar ul li .blue{
    background: #7367f0;
    padding: 3.5px 6.2px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: -15px;
    color: #fff;
}
.right-navbar ul li .orange{
    background: #ea5455;
    padding: 3.5px 6.2px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%; 
    position: absolute;
    right: 0;
    top: -15px;
    color: #fff;
    margin: 0;
}
.right-navbar ul li .online{
    width: 11px;
    height: 11px;
    position: absolute;
    border: 1px solid #fff;
    background: #28c76f;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    margin: 0;

}
.right-navbar ul li a{
    text-decoration: none;
}
.right-navbar ul li .own{
    box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%), 0 2px 4px 0 rgb(34 41 47 / 8%);
    border-radius: 50%;
}
.right-navbar ul .name{
    text-align: end;
}

/* Color Section  */
.color-main{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 15px 0;
    
}
.color{
    padding: 0px 14px 0 0;
    display: flex;
}
.color-box1{
    padding: 0 14px 0 0;
    border-right: 0.1px solid #c6c5c9;
}
.color-box1 h1{
    font-size: 24px;
    color: #636363;
}
.color-box2{
    padding: 4.2px 14px;
}

.color-box2 ol li.arrow{
    margin: 0 8px 0 8.4px;
    
}
.color-box2 ol li.arrow:before{
    content: ">";
    padding: 0 8px 0 0px;
}
.color-box2 ol li a{
    text-decoration: none;
    color: #7367f0;
}
.color-box2 ol li .vcolor{
    color: #6e6b7b;
}
.color-box2 ol li a img{
    width: 9px;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
}

.color-main .menu a svg{
    width: 14px;
    
}
.color-main .menu{
    padding: 0 14px;
}
.color-main .menu button{
    padding: 11px;
    background: #7367f0;
    border: none;
    color: #fff;
    border-radius: 5px;
    
}
.color-main .menu button svg{
    vertical-align: middle;
}
.color-box2 ol li{
    display:inline-block;
}
.color-box2 ol li{
    list-style:lower-roman;
}
.defaults-colors{
    background: #fff;
    padding: 21px;
    border-radius: 8px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}
.default{
    padding: 0 0 21px 0;
}
.default h4{
    font-size: 18px;
    color: #5e5873;
}
.defaults-colors .description .des-heading{
    margin-bottom: 15px;
    
}
.defaults-colors .description .des-heading p{
    font-size: 14px;
    color: #7367f0;
    padding: 10px 14px;
    background: #eeeeee;
    border-radius: 5px;
}
.defaults-colors .description .des-heading p a{
    font-size: 14px;
    color: #5e50ee;
    font-weight: 600;
    text-decoration: none;
}
.description p{
    font-size: 14px;
    color: #6e6b7b;

}
.description ul li{
    padding: 5.6px;
    font-size: 14px;
    color: #6e6b7b;
    list-style: none;
}
.description ul li svg{
    margin-right: 3.5px;
    width: 17px;
    height: 17px;
    vertical-align: middle;
}
.description .des2{
    font-size: 14px;
    margin-bottom: 14px;
}
.description .difrent-box{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.description .difrent-box div{
    margin: 14px 14px 14px 7px;
    text-align: center;
    line-height: 7;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: #fff;
    flex-basis: auto;
}
.description .difrent-box span{
    
}

.description .difrent-box .db1{
    background: #7367f0;
}
.description .difrent-box .db2{
    background: #82868b;
}
.description .difrent-box .db3{
    background: #28c76f;
}
.description .difrent-box .db4{
    background: #ff9f43;
}
.description .difrent-box .db5{
    background: #ea5455;
}
.description .difrent-box .db6{
    background: #00cfe8;
}
.description h6{
    font-size: 14px;
    margin: 14px 0 7px;
    color: #5e5873;
}
.description .lighten-p{
    font-size: 14px;
    color: #6e6b7b;
}

/* lighten color  */
.description .lighten-color{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.description .lighten-color div{
    margin: 14px 14px 14px 7px;
    text-align: center;
    line-height: 7;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: #fff;
}
.description .lighten-color span{
    
}

.description .lighten-color .lv1{
    background: #9e95f5;
}
.description .lighten-color .lv2{
    background: #9ca0a4;
}
.description .lighten-color .lv3{
    background: #48da89;
}
.description .lighten-color .lv4{
    background: #ffb976;
}
.description .lighten-color .lv5{
    background: #f08182;
}
.description .lighten-color .lv6{
    background: #1ce7ff;
}
.description h6{
    font-size: 14px;
    margin: 14px 0 7px;
    color: #5e5873;
}
.description .lighten-p{
    font-size: 14px;
    color: #6e6b7b;
}

/* Darken Varient */
.description .darken-variant{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.description .darken-variant div{
    margin: 14px 14px 14px 7px;
    text-align: center;
    line-height: 7;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: #fff;
}
.description .darken-variant span{
    
}

.description .darken-variant .dv1{
    background: #4839eb;
}
.description .darken-variant .dv2{
    background: #696d71;
}
.description .darken-variant .dv3{
    background: #1f9d57;
}
.description .darken-variant .dv4{
    background: #ff8510;
}
.description .darken-variant .dv5{
    background: #e42728;
}
.description .darken-variant .dv6{
    background: #00a1b5;
}
.description h6{
    font-size: 14px;
    margin: 14px 0 7px;
    color: #5e5873;
}
.description .lighten-p{
    font-size: 14px;
    color: #6e6b7b;
}

/* Gradiant Colors */
.gradiant-colors{
    margin-top: 20px;
    padding: 21px;
    background: #fff;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 8px;
}
.gradiant-colors .gradiants{
    padding-bottom: 21px;
}
.gradiant-colors .gradiants h4{
    font-size: 18px;
    color: #5e5873;
}
.gradiant-colors .description-2 .des-heading{
    padding: 10px 14px;
    background: #eeeeee;
    border-radius: 5px;
}
.gradiant-colors .description-2 .des-heading p{
    font-size: 14px;
    color: #7367f0;
}
.gradiant-colors .description-2 .des-heading p a{
    font-size: 14px;
    color: #5e50ee;
    font-weight: 600;
    text-decoration: none;
}
.description-2 p{
    font-size: 14px;
    color: #6e6b7b;

}
.description-2 ul li{
    padding: 5.6px;
    font-size: 14px;
    color: #6e6b7b;
    list-style: none;
}
.description-2 ul li svg{
    margin-right: 3.5px;
    width: 17px;
    height: 17px;
    vertical-align: middle;
}
.description-2 {
    font-size: 14px;
    margin-bottom: 14px;
}
.description-2 .gradiant-color{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
.description-2 .gradiant-color div{
    margin: 14px 14px 14px 7px;
    text-align: center;
    padding-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: #fff;
}
.description-2 .gradiant-color span{
    
}

.description-2 .gradiant-color .gc1{
    background: #7367f0;
}
.description-2 .gradiant-color .gc2{
    background: #82868b;
}
.description-2 .gradiant-color .gc3{
    background: #28c76f;
}
.description-2 .gradiant-color .gc4{
    background: #ff9f43;
}
.description-2 .gradiant-color .gc5{
    background: #ea5455;
}
.description-2 .gradiant-color .gc6{
    background: #00cfe8;
}
.description-2 h6{
    font-size: 14px;
    margin: 14px 0 7px;
    color: #5e5873;
}
.description-2 .lighten-p{
    font-size: 14px;
    color: #6e6b7b;
}

/* footer Area */
.footer{
    padding: 11px 0px;
    margin-top: 30px;

}
.footer .copyright{
    display: flex;
    justify-content: space-between;
}
.footer .copyright .left-section{
    margin-top: 3.5px;
    color: #6e6b7b;
    font-size: 14px;
    flex-basis: 49%;
}
.footer .copyright .left-section a{
    margin-left: 3.5px;
    color: #7367f0;
    text-decoration: none;
}
.footer .copyright .right-section{
    flex-basis: 49%;
    text-align: right;
}
.footer .copyright .right-section svg{
        height: 21px;
        width: 21px;
        font-size: 14px;
        margin-left: 7px;
        color: #ea5455; 
        vertical-align: middle;   
}
.footer .scroll{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 29px;
    right: 30px;
}
.footer .scroll .buy-now{
    margin-right: 10px;
    padding: 11.5px 21px;
    background: #ea5455;
    border-radius: 7px;
    box-shadow: 0 1px 20px 1px #ea5455;
}
.footer .scroll .buy-now a{
    
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    
}
.footer .scroll .scroll-top button{
    padding: 11px 11px;
    background: #7367f0;
    border: none;
    border-radius: 7px;
}
.footer .scroll .scroll-top button a{
    color: #fff;
}
.footer .scroll .scroll-top button svg{
    vertical-align: middle;
}
/* Roll */

.roll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 270px;
    right: 0;
    background: skyblue;
    background: #7367f0;
    color: #fff;
    box-shadow: -3px 0 8px rgba(34,41,47,.1);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 40px;
    cursor: pointer; 
}
.pic{
      
}
.pic svg{ 
    animation: roll 1s linear infinite;
}
@keyframes roll{
    0%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(1turn);
    }
}